/* Type styles */
.h1 {
    color: var(--contrast-strong);
    font-size: 80px;
    font-weight: 400;
    line-height: 140%;
    @font-face {
        font-family: "suisse-works", serif;
        src: url(SuisseWorks-Regular-WebS.woff2);
    }
}
.h2 {
    color: var(--contrast-strong);
    font-size: 38px;
    font-weight: 400;
    line-height: 140%;
    @font-face {
        font-family: "suisse-works", serif;
        src: url(SuisseIntl-Regular-WebS.woff2);
    }
}
.h3 {
    color: var(--contrast-strong);
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    @font-face {
        font-family: "suisse-works", serif;
        src: url(SuisseWorks-Regular-WebS.woff2);    
    }
}
.h4 {
    color: var(--contrast-strong);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    @font-face {
        font-family: "suisse-intl", sans-serif;
        src: url(SuisseWorks-Regular-WebS.woff2);    
    }
}
.p {
    color: var(--contrast-strong);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    @font-face {
        font-family: "suisse-works", serif;
        src: url(SuisseWorks-Regular-WebS.woff2);
    }
}

/* Variables */

light-mode {
    --bg: #FFF;
    --contrast-strong: #000;
    --contrast-subtle: #414141;

    /* button */
    --button-bg: #f8f8f8;
    --button-contrast: #000;
    --button-hover-bg:#dedede;
    --buton-active-bg:fff;
    --button-active-contrast: #000;
    --button-button-border: 000;
}
